#env var

SECRET_KEY=
DEBUG=


#db configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=


#env var

SECRET_KEY=django-insecure-uv6j2t_j)pw6x3a+s41v994(9ru=56y(ar!!)gu!2hv9*ioi+i
DEBUG=True


#db configuration
DB_NAME=foodOnline_db
DB_USER=postgres
DB_PASSWORD=123
DB_HOST=localhost

#email configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=wesleyfang09@gmail.com
EMAIL_HOST_PASSWORD=odayjrykusepzygx
EMAIL_USE_TLS=True